@charset "UTF-8";


/* https://noonnu.cc/font_page/502
 */
 @font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ad_clip{
	display:block;
}


.top{
	display:flex;
	justify-content:space-between;
	width:100%;
	height:60px;
	font-family: 'ELAND_Choice_M';
	font-size:40px;
	align-items:center;
	font-weight:bold;
	border-bottom: solid 2px #808080 ;
}

.top_right{
	font-size: 25px;
	
	
}

.banner{
		font-family: 'ELAND_Choice_M';
	font-size:20px;
	width:100%;
	height:40px;
	margin-top:60px;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-bottom:40px;
}

.banner div {
	
	margin-left: 8px;
	margin-right:8px;
	
}
.banner div:nth-child(5) {
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:25px;
	width:100px;
	height:100%;
	background-color: #808080;
	opacity:0.7;
	border-radius: 15px;
}

.bottom{
	width:70%;

}

.obook_youtube_link{
	margin-top:30px;
		box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px;
	
}

.bottom ul{
	margin-top:30px;
}

.bottom ul li{
	padding-top:20px;
	padding-bottom:20px;
	border-top:2px solid #80808080;
	border-bottom:2px solid #80808080;
	list-style: none;
	display:flex;
	
}

.obook_youtube_link{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #9013FD80;
	width:150px;
	height:60px;
	border-radius:15px;
}
.obook_youtube_link a span{
	color:#fff;
}

.obook_youtube_link a span:hover{
	opacity:0.6;
}

 .obook_youtube_link  a:link { color: red; text-decoration: none;}
.obook_youtube_link   a:visited { color: black; text-decoration: none;}
 .obook_youtube_link  a:hover { color:black;}



.bottom ul li a{
	display:flex;
}


 .bottom ul li a:link { color: red; text-decoration: none;}
.bottom ul li  a:visited { color: black; text-decoration: none;}
 .bottom ul li a:hover { color:black;}




.bottom ul li img{
	width:300px;
	height:210px;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 30px;
}
.bottom ul li img:hover{
	opacity:0.6;
}

.bottom ul li .author-div{
	font-family: 'ELAND_Choice_M';
	font-size: 35px;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-left:40px;
}





