@charset "UTF-8";


/* https://noonnu.cc/font_page/502
 */
 @font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
}


.top{
	display:flex;
	justify-content:space-between;
	width:100%;
	height:60px;
	font-family: 'ELAND_Choice_M';
	font-size:40px;
	align-items:center;
	font-weight:bold;
	border-bottom: solid 2px #808080 ;
}

.top_right{
	font-size: 25px;
	
	
}

.banner{
		font-family: 'ELAND_Choice_M';
	font-size:20px;
	width:100%;
	height:40px;
	margin-top:60px;
	display:flex;
	justify-content: center;
	align-items: center;
	
}

.banner div {
	
	margin-left: 8px;
	margin-right:8px;
	
}
.banner div:nth-child(5) {
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:25px;
	width:100px;
	height:100%;
	background-color: #808080;
	opacity:0.7;
	border-radius: 15px;
}

.bottom{
	width:70%;

}

.bottom ul{
	margin-top:80px;
}

.bottom ul li{
	padding-top:20px;
	padding-bottom:20px;
	border-top:2px solid #80808080;
	border-bottom:2px solid #80808080;
	list-style: none;
}


.bottom ul li img{
	width:300px;
	height:210px;
	
}


